@media screen and (max-width: 767px) {
  .wide-container {
    display: none;
  }
  .mobile-container {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 24px 24px 40px 40px;
    background-color: var(--main-title-color);
    z-index: 999;

    transform: translateX(-110%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-container.is-open {
    transform: translateX(0%);
  }
  .menu-toggle {
    display: flex;
    background-color: transparent;
    /* position: absolute;
    top: 0px;
    right: 16px; */
    fill: var(--secondary-title-color);
    padding: 0px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .close-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    right: 0px;
    margin: 0px 0px 0px auto;
    padding: 0px;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .close-toggle:hover,
  .close-toggle:focus,
  .menu-toggle:hover,
  .menu-toggle:focus {
    fill: var(--primary-brand-color);
  }

  .mobile-container .close-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /* -------------------------social-links--------------------------- */
  .social-media-header {
    margin: auto 0px;
  }

  .header-social-list {
    display: block;
    list-style: none;
  }

  .header-social-list {
    display: flex;
    max-width: 328px;
    gap: calc((100% - 4 * 40px) / 3);
    list-style: none;
    margin-top: 0px;
  }

  .header-social-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
  }
  .header-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-link:hover,
  .header-social-link:focus,
  .header-social-item:hover,
  .header-social-item:focus {
    background-color: var(--pressed-state-color);
    border-radius: 50%;
  }
  .container {
    max-width: 426px;
  }

  .header-container {
    display: flex;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    position: relative;
  }

  .header {
    padding-top: 25.5px;
    padding-bottom: 23.5px;
    width: 100%;
    height: 70px;
  }

  .header-ul {
    display: block;
    margin: 0px auto auto 0px;
    padding-top: 56px;
  }

  .header-item {
    display: block;
    margin: 0px auto 40px 0px;
    padding: 0;
  }

  .header-logo {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }

  .header-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding: 0;
  }

  .header-link.active::after {
    display: none;
  }

  address {
    margin-bottom: 48px;
  }

  .address-list {
    display: block;
  }
  .address-item {
    display: block;
    margin-bottom: 40px;
  }
  .mob-horiz {
    width: 100%;
    overflow-y: auto;
  }
  .address-mail {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    order: 2;
  }
  @media screen and (max-width: 767px) {
    .wide-container {
      display: none;
    }
  }
  .address-tel {
    display: block;
    max-width: 353px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primary-brand-color);
  }

  .active {
    color: var(--secondary-title-color);
  }

  .hero {
    width: 100%;
    height: 100%;
    padding-top: 112px;
    padding-bottom: 112px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile-bg.jpg');
  }

  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    display: block;
    text-align: center;
    margin: 0px auto;
    max-width: 364px;
  }

  .hero-button {
    margin: 72px auto 0;
  }

  .backdrop {
    overflow-y: scroll;
  }

  .modal {
    display: block;
    width: calc(100% - 36px);
    padding: 24px 16px;
    max-width: 392px;
  }

  .advantages {
    padding: 96px 0px 96px;
  }

  .adv-icon {
    display: none;
  }

  .advantages-item {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  .advlist-item {
    width: 100%;
  }

  .ourteam {
    width: 100%;
    padding: 96px auto;
    margin: 0;
  }

  .team-list-member {
    display: block;
    width: 100%;
    margin-bottom: 72px;
  }
  .team-list {
    display: block;
    width: 264px;
    padding: 0;
    margin: 0px auto;
  }
  /*                           CUSTOMERS                          */
  .customers-section {
    padding: 96px 0px;
  }

  .customers-list {
    max-width: 396px;
    margin: 0px auto;
    flex-wrap: wrap;
    gap: 72px 16px;
  }
  .customers-anc {
    width: 100%;
  }

  .customers-item {
    min-width: 190px;
  }

  .customers-icon {
    width: 110px;
  }

  .footer {
    padding: 96px 0px;
  }

  .footer-container-logo {
    display: block;
    margin: 0px auto 72px;
  }
  .footer-logo {
    padding: 0px;
    margin: 0px auto 17.5px;
  }
  .footer-desc {
    margin: 0px auto;
    text-align: left;
    max-width: 268px;
  }

  .footer-social-title {
    display: block;
    text-align: center;
    margin-bottom: 16px;
  }

  .form-box {
    display: block;
    margin: 72px 0 0 0;
  }

  .form-footer {
    flex-direction: column;
  }

  .subs-title {
    text-align: center;
  }

  .email-foot {
    width: 100%;
  }

  .subscribe-but {
    margin: 16px auto 0;
  }

  .social-list {
    justify-content: center;
  }

  .portfolio {
    padding: 48px 0px;
  }

  .button-list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto 48px 0px;
  }

  .button-item {
    padding: 8px 16px;
  }

  .portfolio-list {
    display: block;
    padding: 0px;
    align-items: center;
  }

  .portfolio-item {
    width: 100%;
    max-width: 360px;
    margin: 0px auto 48px;
  }
  .icon-check {
    flex-shrink: 0;
  }

  .form-item {
    padding: 0px 35px;
  }

  .footer-container {
    display: block;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .close-toggle {
    display: none;
  }
  .social-media-header {
    display: none;
  }
}
@media (max-width: 428px) {
  .address-tel {
    font-size: 25px;
  }
}
@media screen and (max-width: 428px),
  (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile-bg@2x.jpg');
  }
}
@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile-bg@3x.jpg');
  }
}
