@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-ul {
    margin: 0px;
  }
  .container {
    max-width: 768px;
  }
  .address-tablet {
    font-size: 12px;
    line-height: 1.11;
    letter-spacing: 0.04em;
    flex-direction: column;
    gap: 12px;
    padding: 0px;
    margin-right: 0px;
    margin-left: auto;
  }

  .header-link.active::after {
    left: 0px;
  }

  .hero {
    width: 100%;
    height: 100%;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0;
  }

  .modal {
    width: calc(100% - 36px);
    padding: 24px 16px;
    min-height: 586px;
  }

  .adv-icon {
    display: none;
  }

  .advantages-desc {
    margin-bottom: 72px;
  }

  .advlist-item {
    width: calc((100% - 24px) / 2);
  }

  .footer {
    padding: 96px auto;
  }
  .footer-container {
    max-width: 584px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }
}
@media screen and (min-device-pixel-ratio: 1) and (min-width: 429px) and (max-width: 767px),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 96dpi),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 1dppx) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile-bg.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 429px) and (max-width: 767px),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tablet-bg@2x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 429px) and (max-width: 767px),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 288dpi),
  screen and (min-width: 429px) and (max-width: 767px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tablet-bg@3x.jpg');
  }
}
